.tooling/apdev-flights-wsf240568f-90eb-47db-92fa-860965cecb1b/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<sub-flow name="setCode" doc:id="8f76efb6-99de-435e-bb0c-877d9b31f825" >
		<set-variable value="#[attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="36c7fcbf-8400-4fa2-8245-5896c889d119" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="f99577bb-91aa-437b-9afe-af6e809c28e9" >
		<http:listener doc:name="GET /american" doc:id="fd0d32f4-3bc7-46b9-8192-f569d88bc5dc" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="3d8c99d5-b100-4fe6-a783-3f9da4d5875c" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="68e94792-420a-49eb-8dbb-b67cebf0b00e" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
	</flow>
	<flow name="getUnitedFlights" doc:id="f047459c-6ab7-4eaa-a3d4-b81c961e54fc" >
		<http:listener doc:name="GET /united" doc:id="9f520918-ff7a-4550-a388-54b4f6a04c5a" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="84386acb-7db5-4b1a-86e5-4cdb41b283ea" name="setCode"/>
		<http:request method="GET" doc:name="Request" doc:id="b28b43fd-d469-4b79-8e0b-12c8a45dac73" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="getDeltaFlights" doc:id="16517aea-c696-4448-92a8-aff877917d7e" >
		<http:listener doc:name="GET /delta" doc:id="09b99f66-2d13-441c-8849-3bc592c99e23" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<wsc:consume doc:name="Consume" doc:id="2a24a5bd-b1df-4219-bc73-24c65d0ced8f" />
	</flow>
</mule>
